#FUNCTION

In [ ]:
def halo():
    print('Hello, world!')

In [5]:
def luas_segitiga(alas, tinggi):
    print(1/2 * alas * tinggi)

luas_segitiga(2, 3)

3.0

In [3]:
def luas_segitiga(alas, tinggi):
    return(1/2 * alas * tinggi)

luas_segitiga(2, 3) + 3

6.0

In [16]:
def keliling_persegi_panjang(panjang, lebar):
    keliling = ((2 * panjang) + (2*lebar) )
    return keliling

print(keliling(4,2))

12

### ARGS

In [21]:
def my_cities(*kota):
    print("Saya berasal dari " + kota[1])

my_cities("Bandung", "Tangerang", "Jakarta")

Saya berasal dari Tangerang

### KWARGS

In [24]:
def my_cities(**kota):
    print("Saya berasal dari " + kota['kota1'])

my_cities(kota1 = "Bandung", kota2="Tangerang", kota3="Jakarta")

Saya berasal dari Bandung

### DEFAULT PARAMETER

In [27]:
def my_cities(city = 'Bandung'):
    print("Saya berasal dari " + city)

my_cities(city="Kuningan")

Saya berasal dari Kuningan

### GLOBAL VARIABLES

In [35]:
x = 'Luar biasa!'

def my_cities():
    x = 'bagus'
    print('Kota yang', x)

my_cities()
print('Kota yang', x)

Kota yang bagus
Kota yang Luar biasa!

In [37]:
def convert(fahr, kelv):
    cels = fahr* 1.80 + 32
    cels2 = kelv - 273.15
    return cels,  cels2
print("Temperature in celcius (C) =", convert(32, 20))

Temperature in celcius (C) = (89.6, -253.14999999999998)

In [39]:
def temp_converter(ftemp):
    ctemp=(ftemp-32) * (5/9)
    ktemp=ctemp - 273.15
    return[ftemp, ktemp, ctemp]
print(temp_converter(72))

[72, -250.92777777777775, 22.22222222222222]

### Lambda Function

In [40]:
#without lambda

def square_sum(x,y):
    return (x**2 + y**2)

square_sum(3, 4)

25

In [44]:
square_sum1 = lambda x,y : x**2 + y**2
square_sum1(3, 4)

25